a[href$="000"] > div.cave-grid {
  background-image: url('https://i.imgur.com/guxsdHd.jpeg');
  background-size: cover;
  background-position: center;
}

a[href$="000"] > div.cave-grid > img {
  opacity: 0;
}
